openapi: 3.0.3
info:
  title: fueldiscountapp API
  description: |
    Auto-generated API specification from reverse engineering.

    **Note:** This spec was generated through static analysis and may be incomplete.
    Verify endpoints with actual traffic capture.
  version: "1.0.0"

servers:
  - url: http://fb.me
    description: Discovered API Server

components:
  securitySchemes:
    apiKey:
      type: apiKey
      in: query
      name: api_key
      description: API key (check authentication.md for details)

    bearerAuth:
      type: http
      scheme: bearer
      description: Bearer token authentication

  schemas:
    GenericRequest:
      type: object
      additionalProperties: true

    GenericResponse:
      type: object
      properties:
        success:
          type: boolean
        errors:
          type: array
          items:
            type: string
        response:
          type: object
          additionalProperties: true

paths:
   + str, e2:
    post:
      summary:  + str, e2
      operationId:  + str, e2
      tags:
        - Discovered Endpoints
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenericRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
    get:
      summary:  + str, e2
      operationId: get_ + str, e2
      tags:
        - Discovered Endpoints
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'

   + this.mIconUrl + :
    post:
      summary:  + this.mIconUrl + 
      operationId:  + this.mIconUrl + 
      tags:
        - Discovered Endpoints
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenericRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
    get:
      summary:  + this.mIconUrl + 
      operationId: get_ + this.mIconUrl + 
      tags:
        - Discovered Endpoints
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'

   + this.mImageUrl + :
    post:
      summary:  + this.mImageUrl + 
      operationId:  + this.mImageUrl + 
      tags:
        - Discovered Endpoints
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenericRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
    get:
      summary:  + this.mImageUrl + 
      operationId: get_ + this.mImageUrl + 
      tags:
        - Discovered Endpoints
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'

   + this.url + :
    post:
      summary:  + this.url + 
      operationId:  + this.url + 
      tags:
        - Discovered Endpoints
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenericRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
    get:
      summary:  + this.url + 
      operationId: get_ + this.url + 
      tags:
        - Discovered Endpoints
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'

  .:
    post:
      summary: .
      operationId: .
      tags:
        - Discovered Endpoints
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenericRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
    get:
      summary: .
      operationId: get_.
      tags:
        - Discovered Endpoints
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'

  .concat(f))}).catch(function(t){console.warn(Error opening URL: ,t)}),s=!1),t(s,f,E)}};e.defaultRenderLoading=function(){return o.default.createElement(l.View,{style:u.default.loadingOrErrorView},o.default.createElement(l.ActivityIndicator,null))},e.defaultRenderError=function(t,n,c){return o.default.createElement(l.View,{style:u.default.loadingOrErrorView},o.default.createElement(l.Tex:
    post:
      summary: .concat(f))}).catch(function(t){console.warn(Error opening URL: ,t)}),s=!1),t(s,f,E)}};e.defaultRenderLoading=function(){return o.default.createElement(l.View,{style:u.default.loadingOrErrorView},o.default.createElement(l.ActivityIndicator,null))},e.defaultRenderError=function(t,n,c){return o.default.createElement(l.View,{style:u.default.loadingOrErrorView},o.default.createElement(l.Tex
      operationId: .concat(f))}).catch(function(t){console.warn(Error opening URL: ,t)}),s!1),t(s,f,E)}};e.defaultRenderLoadingfunction(){return o.default.createElement(l.View,{style:u.default.loadingOrErrorView},o.default.createElement(l.ActivityIndicator,null))},e.defaultRenderErrorfunction(t,n,c){return o.default.createElement(l.View,{style:u.default.loadingOrErrorView},o.default.createElement(l.Tex
      tags:
        - Discovered Endpoints
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenericRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
    get:
      summary: .concat(f))}).catch(function(t){console.warn(Error opening URL: ,t)}),s=!1),t(s,f,E)}};e.defaultRenderLoading=function(){return o.default.createElement(l.View,{style:u.default.loadingOrErrorView},o.default.createElement(l.ActivityIndicator,null))},e.defaultRenderError=function(t,n,c){return o.default.createElement(l.View,{style:u.default.loadingOrErrorView},o.default.createElement(l.Tex
      operationId: get_.concat(f))}).catch(function(t){console.warn(Error opening URL: ,t)}),s!1),t(s,f,E)}};e.defaultRenderLoadingfunction(){return o.default.createElement(l.View,{style:u.default.loadingOrErrorView},o.default.createElement(l.ActivityIndicator,null))},e.defaultRenderErrorfunction(t,n,c){return o.default.createElement(l.View,{style:u.default.loadingOrErrorView},o.default.createElement(l.Tex
      tags:
        - Discovered Endpoints
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'

  /:
    post:
      summary: /
      operationId: 
      tags:
        - Discovered Endpoints
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenericRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
    get:
      summary: /
      operationId: get_
      tags:
        - Discovered Endpoints
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'

  /cmdline:
    post:
      summary: /cmdline
      operationId: cmdline
      tags:
        - Discovered Endpoints
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenericRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
    get:
      summary: /cmdline
      operationId: get_cmdline
      tags:
        - Discovered Endpoints
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'

  /cpufreq/cpuinfo_max_freq:
    post:
      summary: /cpufreq/cpuinfo_max_freq
      operationId: cpufreq_cpuinfo_max_freq
      tags:
        - Discovered Endpoints
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenericRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
    get:
      summary: /cpufreq/cpuinfo_max_freq
      operationId: get_cpufreq_cpuinfo_max_freq
      tags:
        - Discovered Endpoints
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'

  /display_photo:
    post:
      summary: /display_photo
      operationId: display_photo
      tags:
        - Discovered Endpoints
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenericRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
    get:
      summary: /display_photo
      operationId: get_display_photo
      tags:
        - Discovered Endpoints
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'

  /lib:
    post:
      summary: /lib
      operationId: lib
      tags:
        - Discovered Endpoints
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenericRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
    get:
      summary: /lib
      operationId: get_lib
      tags:
        - Discovered Endpoints
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'

  /photo:
    post:
      summary: /photo
      operationId: photo
      tags:
        - Discovered Endpoints
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenericRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
    get:
      summary: /photo
      operationId: get_photo
      tags:
        - Discovered Endpoints
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'

  /proc/cpuinfo:
    post:
      summary: /proc/cpuinfo
      operationId: proc_cpuinfo
      tags:
        - Discovered Endpoints
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenericRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
    get:
      summary: /proc/cpuinfo
      operationId: get_proc_cpuinfo
      tags:
        - Discovered Endpoints
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'

  /proc/meminfo:
    post:
      summary: /proc/meminfo
      operationId: proc_meminfo
      tags:
        - Discovered Endpoints
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenericRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
    get:
      summary: /proc/meminfo
      operationId: get_proc_meminfo
      tags:
        - Discovered Endpoints
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'

  /proc/self/exe:
    post:
      summary: /proc/self/exe
      operationId: proc_self_exe
      tags:
        - Discovered Endpoints
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenericRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
    get:
      summary: /proc/self/exe
      operationId: get_proc_self_exe
      tags:
        - Discovered Endpoints
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'

  /sys/devices/system/cpu/cpu:
    post:
      summary: /sys/devices/system/cpu/cpu
      operationId: sys_devices_system_cpu_cpu
      tags:
        - Discovered Endpoints
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenericRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
    get:
      summary: /sys/devices/system/cpu/cpu
      operationId: get_sys_devices_system_cpu_cpu
      tags:
        - Discovered Endpoints
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'

  /sys/devices/system/cpu/possible:
    post:
      summary: /sys/devices/system/cpu/possible
      operationId: sys_devices_system_cpu_possible
      tags:
        - Discovered Endpoints
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenericRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
    get:
      summary: /sys/devices/system/cpu/possible
      operationId: get_sys_devices_system_cpu_possible
      tags:
        - Discovered Endpoints
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'

  /sys/devices/system/cpu/present:
    post:
      summary: /sys/devices/system/cpu/present
      operationId: sys_devices_system_cpu_present
      tags:
        - Discovered Endpoints
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenericRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
    get:
      summary: /sys/devices/system/cpu/present
      operationId: get_sys_devices_system_cpu_present
      tags:
        - Discovered Endpoints
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'

  /system/bin/getprop:
    post:
      summary: /system/bin/getprop
      operationId: system_bin_getprop
      tags:
        - Discovered Endpoints
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenericRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
    get:
      summary: /system/bin/getprop
      operationId: get_system_bin_getprop
      tags:
        - Discovered Endpoints
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'

  213168952:
    post:
      summary: 213168952
      operationId: 213168952
      tags:
        - Discovered Endpoints
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenericRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
    get:
      summary: 213168952
      operationId: get_213168952
      tags:
        - Discovered Endpoints
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'

  account_cards:
    post:
      summary: account_cards
      operationId: account_cards
      tags:
        - Discovered Endpoints
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenericRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
    get:
      summary: account_cards
      operationId: get_account_cards
      tags:
        - Discovered Endpoints
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'

  authenticate:
    post:
      summary: authenticate
      operationId: authenticate
      tags:
        - Discovered Endpoints
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenericRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
    get:
      summary: authenticate
      operationId: get_authenticate
      tags:
        - Discovered Endpoints
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'

  change_expired_password:
    post:
      summary: change_expired_password
      operationId: change_expired_password
      tags:
        - Discovered Endpoints
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenericRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
    get:
      summary: change_expired_password
      operationId: get_change_expired_password
      tags:
        - Discovered Endpoints
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'

  change_password:
    post:
      summary: change_password
      operationId: change_password
      tags:
        - Discovered Endpoints
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenericRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
    get:
      summary: change_password
      operationId: get_change_password
      tags:
        - Discovered Endpoints
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'

  clipPath:
    post:
      summary: clipPath
      operationId: clipPath
      tags:
        - Discovered Endpoints
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenericRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
    get:
      summary: clipPath
      operationId: get_clipPath
      tags:
        - Discovered Endpoints
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'

  create_user_ticket:
    post:
      summary: create_user_ticket
      operationId: create_user_ticket
      tags:
        - Discovered Endpoints
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenericRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
    get:
      summary: create_user_ticket
      operationId: get_create_user_ticket
      tags:
        - Discovered Endpoints
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'

  definitionURL:
    post:
      summary: definitionURL
      operationId: definitionURL
      tags:
        - Discovered Endpoints
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenericRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
    get:
      summary: definitionURL
      operationId: get_definitionURL
      tags:
        - Discovered Endpoints
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'

  find_all_nearby_gas_locations:
    post:
      summary: find_all_nearby_gas_locations
      operationId: find_all_nearby_gas_locations
      tags:
        - Discovered Endpoints
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenericRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
    get:
      summary: find_all_nearby_gas_locations
      operationId: get_find_all_nearby_gas_locations
      tags:
        - Discovered Endpoints
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'

  find_better_prices_within_range:
    post:
      summary: find_better_prices_within_range
      operationId: find_better_prices_within_range
      tags:
        - Discovered Endpoints
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenericRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
    get:
      summary: find_better_prices_within_range
      operationId: get_find_better_prices_within_range
      tags:
        - Discovered Endpoints
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'

  generate_loves_connect_code:
    post:
      summary: generate_loves_connect_code
      operationId: generate_loves_connect_code
      tags:
        - Discovered Endpoints
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenericRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
    get:
      summary: generate_loves_connect_code
      operationId: get_generate_loves_connect_code
      tags:
        - Discovered Endpoints
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'

  generate_password_reset_code:
    post:
      summary: generate_password_reset_code
      operationId: generate_password_reset_code
      tags:
        - Discovered Endpoints
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenericRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
    get:
      summary: generate_password_reset_code
      operationId: get_generate_password_reset_code
      tags:
        - Discovered Endpoints
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'

  geo:0,0?q=:
    post:
      summary: geo:0,0?q=
      operationId: geo:0,0q
      tags:
        - Discovered Endpoints
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenericRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
    get:
      summary: geo:0,0?q=
      operationId: get_geo:0,0q
      tags:
        - Discovered Endpoints
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'

  get_all_location_special_events:
    post:
      summary: get_all_location_special_events
      operationId: get_all_location_special_events
      tags:
        - Discovered Endpoints
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenericRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
    get:
      summary: get_all_location_special_events
      operationId: get_get_all_location_special_events
      tags:
        - Discovered Endpoints
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'

  get_brand_image?id=:
    post:
      summary: get_brand_image?id=
      operationId: get_brand_imageid
      tags:
        - Discovered Endpoints
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenericRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
    get:
      summary: get_brand_image?id=
      operationId: get_get_brand_imageid
      tags:
        - Discovered Endpoints
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'

  get_brand_images:
    post:
      summary: get_brand_images
      operationId: get_brand_images
      tags:
        - Discovered Endpoints
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenericRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
    get:
      summary: get_brand_images
      operationId: get_get_brand_images
      tags:
        - Discovered Endpoints
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'

  get_charity_project_info:
    post:
      summary: get_charity_project_info
      operationId: get_charity_project_info
      tags:
        - Discovered Endpoints
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenericRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
    get:
      summary: get_charity_project_info
      operationId: get_get_charity_project_info
      tags:
        - Discovered Endpoints
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'

  get_fuel_price_location_details?id=:
    post:
      summary: get_fuel_price_location_details?id=
      operationId: get_fuel_price_location_detailsid
      tags:
        - Discovered Endpoints
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenericRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
    get:
      summary: get_fuel_price_location_details?id=
      operationId: get_get_fuel_price_location_detailsid
      tags:
        - Discovered Endpoints
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'

  get_fuel_transactions_for_card_paged:
    post:
      summary: get_fuel_transactions_for_card_paged
      operationId: get_fuel_transactions_for_card_paged
      tags:
        - Discovered Endpoints
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenericRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
    get:
      summary: get_fuel_transactions_for_card_paged
      operationId: get_get_fuel_transactions_for_card_paged
      tags:
        - Discovered Endpoints
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'

  get_locations_for_route:
    post:
      summary: get_locations_for_route
      operationId: get_locations_for_route
      tags:
        - Discovered Endpoints
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenericRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
    get:
      summary: get_locations_for_route
      operationId: get_get_locations_for_route
      tags:
        - Discovered Endpoints
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'

  get_merchants:
    post:
      summary: get_merchants
      operationId: get_merchants
      tags:
        - Discovered Endpoints
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenericRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
    get:
      summary: get_merchants
      operationId: get_get_merchants
      tags:
        - Discovered Endpoints
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'

  get_partner_map_content/:
    post:
      summary: get_partner_map_content/
      operationId: get_partner_map_content_
      tags:
        - Discovered Endpoints
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenericRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
    get:
      summary: get_partner_map_content/
      operationId: get_get_partner_map_content_
      tags:
        - Discovered Endpoints
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'

  get_partner_vip_interstitial/:
    post:
      summary: get_partner_vip_interstitial/
      operationId: get_partner_vip_interstitial_
      tags:
        - Discovered Endpoints
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenericRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
    get:
      summary: get_partner_vip_interstitial/
      operationId: get_get_partner_vip_interstitial_
      tags:
        - Discovered Endpoints
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'

  get_partners_with_content:
    post:
      summary: get_partners_with_content
      operationId: get_partners_with_content
      tags:
        - Discovered Endpoints
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenericRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
    get:
      summary: get_partners_with_content
      operationId: get_get_partners_with_content
      tags:
        - Discovered Endpoints
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'

  get_vip_offers:
    post:
      summary: get_vip_offers
      operationId: get_vip_offers
      tags:
        - Discovered Endpoints
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenericRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
    get:
      summary: get_vip_offers
      operationId: get_get_vip_offers
      tags:
        - Discovered Endpoints
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'

  https://developer.mozilla.org/docs/Mozilla/CSS/overflow-clip-box:
    post:
      summary: https://developer.mozilla.org/docs/Mozilla/CSS/overflow-clip-box
      operationId: https:__developer.mozilla.org_docs_Mozilla_CSS_overflow-clip-box
      tags:
        - Discovered Endpoints
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenericRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
    get:
      summary: https://developer.mozilla.org/docs/Mozilla/CSS/overflow-clip-box
      operationId: get_https:__developer.mozilla.org_docs_Mozilla_CSS_overflow-clip-box
      tags:
        - Discovered Endpoints
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'

  https://developer.mozilla.org/docs/Web/CSS/--*:
    post:
      summary: https://developer.mozilla.org/docs/Web/CSS/--*
      operationId: https:__developer.mozilla.org_docs_Web_CSS_--*
      tags:
        - Discovered Endpoints
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenericRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
    get:
      summary: https://developer.mozilla.org/docs/Web/CSS/--*
      operationId: get_https:__developer.mozilla.org_docs_Web_CSS_--*
      tags:
        - Discovered Endpoints
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'

  https://developer.mozilla.org/docs/Web/CSS/-moz-binding:
    post:
      summary: https://developer.mozilla.org/docs/Web/CSS/-moz-binding
      operationId: https:__developer.mozilla.org_docs_Web_CSS_-moz-binding
      tags:
        - Discovered Endpoints
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenericRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
    get:
      summary: https://developer.mozilla.org/docs/Web/CSS/-moz-binding
      operationId: get_https:__developer.mozilla.org_docs_Web_CSS_-moz-binding
      tags:
        - Discovered Endpoints
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'

  https://developer.mozilla.org/docs/Web/CSS/-moz-border-bottom-colors:
    post:
      summary: https://developer.mozilla.org/docs/Web/CSS/-moz-border-bottom-colors
      operationId: https:__developer.mozilla.org_docs_Web_CSS_-moz-border-bottom-colors
      tags:
        - Discovered Endpoints
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenericRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
    get:
      summary: https://developer.mozilla.org/docs/Web/CSS/-moz-border-bottom-colors
      operationId: get_https:__developer.mozilla.org_docs_Web_CSS_-moz-border-bottom-colors
      tags:
        - Discovered Endpoints
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'

  https://developer.mozilla.org/docs/Web/CSS/-moz-border-left-colors:
    post:
      summary: https://developer.mozilla.org/docs/Web/CSS/-moz-border-left-colors
      operationId: https:__developer.mozilla.org_docs_Web_CSS_-moz-border-left-colors
      tags:
        - Discovered Endpoints
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenericRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
    get:
      summary: https://developer.mozilla.org/docs/Web/CSS/-moz-border-left-colors
      operationId: get_https:__developer.mozilla.org_docs_Web_CSS_-moz-border-left-colors
      tags:
        - Discovered Endpoints
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'

  https://developer.mozilla.org/docs/Web/CSS/-moz-border-right-colors:
    post:
      summary: https://developer.mozilla.org/docs/Web/CSS/-moz-border-right-colors
      operationId: https:__developer.mozilla.org_docs_Web_CSS_-moz-border-right-colors
      tags:
        - Discovered Endpoints
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenericRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
    get:
      summary: https://developer.mozilla.org/docs/Web/CSS/-moz-border-right-colors
      operationId: get_https:__developer.mozilla.org_docs_Web_CSS_-moz-border-right-colors
      tags:
        - Discovered Endpoints
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'

  https://developer.mozilla.org/docs/Web/CSS/-moz-border-top-colors:
    post:
      summary: https://developer.mozilla.org/docs/Web/CSS/-moz-border-top-colors
      operationId: https:__developer.mozilla.org_docs_Web_CSS_-moz-border-top-colors
      tags:
        - Discovered Endpoints
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenericRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
    get:
      summary: https://developer.mozilla.org/docs/Web/CSS/-moz-border-top-colors
      operationId: get_https:__developer.mozilla.org_docs_Web_CSS_-moz-border-top-colors
      tags:
        - Discovered Endpoints
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'

  https://developer.mozilla.org/docs/Web/CSS/-moz-contex:
    post:
      summary: https://developer.mozilla.org/docs/Web/CSS/-moz-contex
      operationId: https:__developer.mozilla.org_docs_Web_CSS_-moz-contex
      tags:
        - Discovered Endpoints
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenericRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
    get:
      summary: https://developer.mozilla.org/docs/Web/CSS/-moz-contex
      operationId: get_https:__developer.mozilla.org_docs_Web_CSS_-moz-contex
      tags:
        - Discovered Endpoints
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'

  https://developer.mozilla.org/docs/Web/CSS/-moz-float-edge:
    post:
      summary: https://developer.mozilla.org/docs/Web/CSS/-moz-float-edge
      operationId: https:__developer.mozilla.org_docs_Web_CSS_-moz-float-edge
      tags:
        - Discovered Endpoints
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenericRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
    get:
      summary: https://developer.mozilla.org/docs/Web/CSS/-moz-float-edge
      operationId: get_https:__developer.mozilla.org_docs_Web_CSS_-moz-float-edge
      tags:
        - Discovered Endpoints
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'

  https://developer.mozilla.org/docs/Web/CSS/-moz-force-broken-image-icon:
    post:
      summary: https://developer.mozilla.org/docs/Web/CSS/-moz-force-broken-image-icon
      operationId: https:__developer.mozilla.org_docs_Web_CSS_-moz-force-broken-image-icon
      tags:
        - Discovered Endpoints
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenericRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
    get:
      summary: https://developer.mozilla.org/docs/Web/CSS/-moz-force-broken-image-icon
      operationId: get_https:__developer.mozilla.org_docs_Web_CSS_-moz-force-broken-image-icon
      tags:
        - Discovered Endpoints
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'

  https://developer.mozilla.org/docs/Web/CSS/-moz-image-region:
    post:
      summary: https://developer.mozilla.org/docs/Web/CSS/-moz-image-region
      operationId: https:__developer.mozilla.org_docs_Web_CSS_-moz-image-region
      tags:
        - Discovered Endpoints
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenericRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
    get:
      summary: https://developer.mozilla.org/docs/Web/CSS/-moz-image-region
      operationId: get_https:__developer.mozilla.org_docs_Web_CSS_-moz-image-region
      tags:
        - Discovered Endpoints
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'

  https://developer.mozilla.org/docs/Web/CSS/-moz-orient:
    post:
      summary: https://developer.mozilla.org/docs/Web/CSS/-moz-orient
      operationId: https:__developer.mozilla.org_docs_Web_CSS_-moz-orient
      tags:
        - Discovered Endpoints
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenericRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
    get:
      summary: https://developer.mozilla.org/docs/Web/CSS/-moz-orient
      operationId: get_https:__developer.mozilla.org_docs_Web_CSS_-moz-orient
      tags:
        - Discovered Endpoints
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'

  https://developer.mozilla.org/docs/Web/CSS/-moz-outline-radius:
    post:
      summary: https://developer.mozilla.org/docs/Web/CSS/-moz-outline-radius
      operationId: https:__developer.mozilla.org_docs_Web_CSS_-moz-outline-radius
      tags:
        - Discovered Endpoints
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenericRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
    get:
      summary: https://developer.mozilla.org/docs/Web/CSS/-moz-outline-radius
      operationId: get_https:__developer.mozilla.org_docs_Web_CSS_-moz-outline-radius
      tags:
        - Discovered Endpoints
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'

  https://developer.mozilla.org/docs/Web/CSS/-moz-outline-radius-bottomleft:
    post:
      summary: https://developer.mozilla.org/docs/Web/CSS/-moz-outline-radius-bottomleft
      operationId: https:__developer.mozilla.org_docs_Web_CSS_-moz-outline-radius-bottomleft
      tags:
        - Discovered Endpoints
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenericRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
    get:
      summary: https://developer.mozilla.org/docs/Web/CSS/-moz-outline-radius-bottomleft
      operationId: get_https:__developer.mozilla.org_docs_Web_CSS_-moz-outline-radius-bottomleft
      tags:
        - Discovered Endpoints
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'

  https://developer.mozilla.org/docs/Web/CSS/-moz-outline-radius-bottomright:
    post:
      summary: https://developer.mozilla.org/docs/Web/CSS/-moz-outline-radius-bottomright
      operationId: https:__developer.mozilla.org_docs_Web_CSS_-moz-outline-radius-bottomright
      tags:
        - Discovered Endpoints
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenericRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
    get:
      summary: https://developer.mozilla.org/docs/Web/CSS/-moz-outline-radius-bottomright
      operationId: get_https:__developer.mozilla.org_docs_Web_CSS_-moz-outline-radius-bottomright
      tags:
        - Discovered Endpoints
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'

  https://developer.mozilla.org/docs/Web/CSS/-moz-outline-radius-topleft:
    post:
      summary: https://developer.mozilla.org/docs/Web/CSS/-moz-outline-radius-topleft
      operationId: https:__developer.mozilla.org_docs_Web_CSS_-moz-outline-radius-topleft
      tags:
        - Discovered Endpoints
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenericRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
    get:
      summary: https://developer.mozilla.org/docs/Web/CSS/-moz-outline-radius-topleft
      operationId: get_https:__developer.mozilla.org_docs_Web_CSS_-moz-outline-radius-topleft
      tags:
        - Discovered Endpoints
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'

  https://developer.mozilla.org/docs/Web/CSS/-moz-outline-radius-topright:
    post:
      summary: https://developer.mozilla.org/docs/Web/CSS/-moz-outline-radius-topright
      operationId: https:__developer.mozilla.org_docs_Web_CSS_-moz-outline-radius-topright
      tags:
        - Discovered Endpoints
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenericRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
    get:
      summary: https://developer.mozilla.org/docs/Web/CSS/-moz-outline-radius-topright
      operationId: get_https:__developer.mozilla.org_docs_Web_CSS_-moz-outline-radius-topright
      tags:
        - Discovered Endpoints
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'

  https://developer.mozilla.org/docs/Web/CSS/-moz-stack-sizing:
    post:
      summary: https://developer.mozilla.org/docs/Web/CSS/-moz-stack-sizing
      operationId: https:__developer.mozilla.org_docs_Web_CSS_-moz-stack-sizing
      tags:
        - Discovered Endpoints
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenericRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
    get:
      summary: https://developer.mozilla.org/docs/Web/CSS/-moz-stack-sizing
      operationId: get_https:__developer.mozilla.org_docs_Web_CSS_-moz-stack-sizing
      tags:
        - Discovered Endpoints
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'

  https://developer.mozilla.org/docs/Web/CSS/-moz-tex:
    post:
      summary: https://developer.mozilla.org/docs/Web/CSS/-moz-tex
      operationId: https:__developer.mozilla.org_docs_Web_CSS_-moz-tex
      tags:
        - Discovered Endpoints
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenericRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
    get:
      summary: https://developer.mozilla.org/docs/Web/CSS/-moz-tex
      operationId: get_https:__developer.mozilla.org_docs_Web_CSS_-moz-tex
      tags:
        - Discovered Endpoints
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'

  https://developer.mozilla.org/docs/Web/CSS/-moz-user-focus:
    post:
      summary: https://developer.mozilla.org/docs/Web/CSS/-moz-user-focus
      operationId: https:__developer.mozilla.org_docs_Web_CSS_-moz-user-focus
      tags:
        - Discovered Endpoints
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenericRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
    get:
      summary: https://developer.mozilla.org/docs/Web/CSS/-moz-user-focus
      operationId: get_https:__developer.mozilla.org_docs_Web_CSS_-moz-user-focus
      tags:
        - Discovered Endpoints
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'

  https://developer.mozilla.org/docs/Web/CSS/-moz-user-input:
    post:
      summary: https://developer.mozilla.org/docs/Web/CSS/-moz-user-input
      operationId: https:__developer.mozilla.org_docs_Web_CSS_-moz-user-input
      tags:
        - Discovered Endpoints
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenericRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
    get:
      summary: https://developer.mozilla.org/docs/Web/CSS/-moz-user-input
      operationId: get_https:__developer.mozilla.org_docs_Web_CSS_-moz-user-input
      tags:
        - Discovered Endpoints
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'

  https://developer.mozilla.org/docs/Web/CSS/-moz-user-modify:
    post:
      summary: https://developer.mozilla.org/docs/Web/CSS/-moz-user-modify
      operationId: https:__developer.mozilla.org_docs_Web_CSS_-moz-user-modify
      tags:
        - Discovered Endpoints
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenericRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
    get:
      summary: https://developer.mozilla.org/docs/Web/CSS/-moz-user-modify
      operationId: get_https:__developer.mozilla.org_docs_Web_CSS_-moz-user-modify
      tags:
        - Discovered Endpoints
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'

  https://developer.mozilla.org/docs/Web/CSS/-moz-window-dragging:
    post:
      summary: https://developer.mozilla.org/docs/Web/CSS/-moz-window-dragging
      operationId: https:__developer.mozilla.org_docs_Web_CSS_-moz-window-dragging
      tags:
        - Discovered Endpoints
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenericRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
    get:
      summary: https://developer.mozilla.org/docs/Web/CSS/-moz-window-dragging
      operationId: get_https:__developer.mozilla.org_docs_Web_CSS_-moz-window-dragging
      tags:
        - Discovered Endpoints
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'

  https://developer.mozilla.org/docs/Web/CSS/-moz-window-shadow:
    post:
      summary: https://developer.mozilla.org/docs/Web/CSS/-moz-window-shadow
      operationId: https:__developer.mozilla.org_docs_Web_CSS_-moz-window-shadow
      tags:
        - Discovered Endpoints
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenericRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
    get:
      summary: https://developer.mozilla.org/docs/Web/CSS/-moz-window-shadow
      operationId: get_https:__developer.mozilla.org_docs_Web_CSS_-moz-window-shadow
      tags:
        - Discovered Endpoints
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'

  https://developer.mozilla.org/docs/Web/CSS/-ms-accelerator:
    post:
      summary: https://developer.mozilla.org/docs/Web/CSS/-ms-accelerator
      operationId: https:__developer.mozilla.org_docs_Web_CSS_-ms-accelerator
      tags:
        - Discovered Endpoints
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenericRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
    get:
      summary: https://developer.mozilla.org/docs/Web/CSS/-ms-accelerator
      operationId: get_https:__developer.mozilla.org_docs_Web_CSS_-ms-accelerator
      tags:
        - Discovered Endpoints
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'

  https://developer.mozilla.org/docs/Web/CSS/-ms-block-progression:
    post:
      summary: https://developer.mozilla.org/docs/Web/CSS/-ms-block-progression
      operationId: https:__developer.mozilla.org_docs_Web_CSS_-ms-block-progression
      tags:
        - Discovered Endpoints
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenericRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
    get:
      summary: https://developer.mozilla.org/docs/Web/CSS/-ms-block-progression
      operationId: get_https:__developer.mozilla.org_docs_Web_CSS_-ms-block-progression
      tags:
        - Discovered Endpoints
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'

  https://developer.mozilla.org/docs/Web/CSS/-ms-content-zoom-chaining:
    post:
      summary: https://developer.mozilla.org/docs/Web/CSS/-ms-content-zoom-chaining
      operationId: https:__developer.mozilla.org_docs_Web_CSS_-ms-content-zoom-chaining
      tags:
        - Discovered Endpoints
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenericRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
    get:
      summary: https://developer.mozilla.org/docs/Web/CSS/-ms-content-zoom-chaining
      operationId: get_https:__developer.mozilla.org_docs_Web_CSS_-ms-content-zoom-chaining
      tags:
        - Discovered Endpoints
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'

  https://developer.mozilla.org/docs/Web/CSS/-ms-content-zoom-limit:
    post:
      summary: https://developer.mozilla.org/docs/Web/CSS/-ms-content-zoom-limit
      operationId: https:__developer.mozilla.org_docs_Web_CSS_-ms-content-zoom-limit
      tags:
        - Discovered Endpoints
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenericRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
    get:
      summary: https://developer.mozilla.org/docs/Web/CSS/-ms-content-zoom-limit
      operationId: get_https:__developer.mozilla.org_docs_Web_CSS_-ms-content-zoom-limit
      tags:
        - Discovered Endpoints
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'

  https://developer.mozilla.org/docs/Web/CSS/-ms-content-zoom-limit-max:
    post:
      summary: https://developer.mozilla.org/docs/Web/CSS/-ms-content-zoom-limit-max
      operationId: https:__developer.mozilla.org_docs_Web_CSS_-ms-content-zoom-limit-max
      tags:
        - Discovered Endpoints
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenericRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
    get:
      summary: https://developer.mozilla.org/docs/Web/CSS/-ms-content-zoom-limit-max
      operationId: get_https:__developer.mozilla.org_docs_Web_CSS_-ms-content-zoom-limit-max
      tags:
        - Discovered Endpoints
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'

  https://developer.mozilla.org/docs/Web/CSS/-ms-content-zoom-limit-min:
    post:
      summary: https://developer.mozilla.org/docs/Web/CSS/-ms-content-zoom-limit-min
      operationId: https:__developer.mozilla.org_docs_Web_CSS_-ms-content-zoom-limit-min
      tags:
        - Discovered Endpoints
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenericRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
    get:
      summary: https://developer.mozilla.org/docs/Web/CSS/-ms-content-zoom-limit-min
      operationId: get_https:__developer.mozilla.org_docs_Web_CSS_-ms-content-zoom-limit-min
      tags:
        - Discovered Endpoints
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'

  https://developer.mozilla.org/docs/Web/CSS/-ms-content-zoom-snap:
    post:
      summary: https://developer.mozilla.org/docs/Web/CSS/-ms-content-zoom-snap
      operationId: https:__developer.mozilla.org_docs_Web_CSS_-ms-content-zoom-snap
      tags:
        - Discovered Endpoints
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenericRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
    get:
      summary: https://developer.mozilla.org/docs/Web/CSS/-ms-content-zoom-snap
      operationId: get_https:__developer.mozilla.org_docs_Web_CSS_-ms-content-zoom-snap
      tags:
        - Discovered Endpoints
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'

  https://developer.mozilla.org/docs/Web/CSS/-ms-content-zoom-snap-points:
    post:
      summary: https://developer.mozilla.org/docs/Web/CSS/-ms-content-zoom-snap-points
      operationId: https:__developer.mozilla.org_docs_Web_CSS_-ms-content-zoom-snap-points
      tags:
        - Discovered Endpoints
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenericRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
    get:
      summary: https://developer.mozilla.org/docs/Web/CSS/-ms-content-zoom-snap-points
      operationId: get_https:__developer.mozilla.org_docs_Web_CSS_-ms-content-zoom-snap-points
      tags:
        - Discovered Endpoints
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'

  https://developer.mozilla.org/docs/Web/CSS/-ms-content-zoom-snap-type:
    post:
      summary: https://developer.mozilla.org/docs/Web/CSS/-ms-content-zoom-snap-type
      operationId: https:__developer.mozilla.org_docs_Web_CSS_-ms-content-zoom-snap-type
      tags:
        - Discovered Endpoints
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenericRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
    get:
      summary: https://developer.mozilla.org/docs/Web/CSS/-ms-content-zoom-snap-type
      operationId: get_https:__developer.mozilla.org_docs_Web_CSS_-ms-content-zoom-snap-type
      tags:
        - Discovered Endpoints
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'

  https://developer.mozilla.org/docs/Web/CSS/-ms-content-zooming:
    post:
      summary: https://developer.mozilla.org/docs/Web/CSS/-ms-content-zooming
      operationId: https:__developer.mozilla.org_docs_Web_CSS_-ms-content-zooming
      tags:
        - Discovered Endpoints
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenericRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
    get:
      summary: https://developer.mozilla.org/docs/Web/CSS/-ms-content-zooming
      operationId: get_https:__developer.mozilla.org_docs_Web_CSS_-ms-content-zooming
      tags:
        - Discovered Endpoints
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'

  https://developer.mozilla.org/docs/Web/CSS/-ms-filter:
    post:
      summary: https://developer.mozilla.org/docs/Web/CSS/-ms-filter
      operationId: https:__developer.mozilla.org_docs_Web_CSS_-ms-filter
      tags:
        - Discovered Endpoints
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenericRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
    get:
      summary: https://developer.mozilla.org/docs/Web/CSS/-ms-filter
      operationId: get_https:__developer.mozilla.org_docs_Web_CSS_-ms-filter
      tags:
        - Discovered Endpoints
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'

  https://developer.mozilla.org/docs/Web/CSS/-ms-flow-from:
    post:
      summary: https://developer.mozilla.org/docs/Web/CSS/-ms-flow-from
      operationId: https:__developer.mozilla.org_docs_Web_CSS_-ms-flow-from
      tags:
        - Discovered Endpoints
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenericRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
    get:
      summary: https://developer.mozilla.org/docs/Web/CSS/-ms-flow-from
      operationId: get_https:__developer.mozilla.org_docs_Web_CSS_-ms-flow-from
      tags:
        - Discovered Endpoints
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'

  https://developer.mozilla.org/docs/Web/CSS/-ms-flow-into:
    post:
      summary: https://developer.mozilla.org/docs/Web/CSS/-ms-flow-into
      operationId: https:__developer.mozilla.org_docs_Web_CSS_-ms-flow-into
      tags:
        - Discovered Endpoints
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenericRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
    get:
      summary: https://developer.mozilla.org/docs/Web/CSS/-ms-flow-into
      operationId: get_https:__developer.mozilla.org_docs_Web_CSS_-ms-flow-into
      tags:
        - Discovered Endpoints
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'

  https://developer.mozilla.org/docs/Web/CSS/-ms-grid-columns:
    post:
      summary: https://developer.mozilla.org/docs/Web/CSS/-ms-grid-columns
      operationId: https:__developer.mozilla.org_docs_Web_CSS_-ms-grid-columns
      tags:
        - Discovered Endpoints
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenericRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
    get:
      summary: https://developer.mozilla.org/docs/Web/CSS/-ms-grid-columns
      operationId: get_https:__developer.mozilla.org_docs_Web_CSS_-ms-grid-columns
      tags:
        - Discovered Endpoints
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'

  https://developer.mozilla.org/docs/Web/CSS/-ms-grid-rows:
    post:
      summary: https://developer.mozilla.org/docs/Web/CSS/-ms-grid-rows
      operationId: https:__developer.mozilla.org_docs_Web_CSS_-ms-grid-rows
      tags:
        - Discovered Endpoints
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenericRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
    get:
      summary: https://developer.mozilla.org/docs/Web/CSS/-ms-grid-rows
      operationId: get_https:__developer.mozilla.org_docs_Web_CSS_-ms-grid-rows
      tags:
        - Discovered Endpoints
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'

  https://developer.mozilla.org/docs/Web/CSS/-ms-high-contrast-adjust:
    post:
      summary: https://developer.mozilla.org/docs/Web/CSS/-ms-high-contrast-adjust
      operationId: https:__developer.mozilla.org_docs_Web_CSS_-ms-high-contrast-adjust
      tags:
        - Discovered Endpoints
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenericRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
    get:
      summary: https://developer.mozilla.org/docs/Web/CSS/-ms-high-contrast-adjust
      operationId: get_https:__developer.mozilla.org_docs_Web_CSS_-ms-high-contrast-adjust
      tags:
        - Discovered Endpoints
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'

  https://developer.mozilla.org/docs/Web/CSS/-ms-hyphenate-limit-chars:
    post:
      summary: https://developer.mozilla.org/docs/Web/CSS/-ms-hyphenate-limit-chars
      operationId: https:__developer.mozilla.org_docs_Web_CSS_-ms-hyphenate-limit-chars
      tags:
        - Discovered Endpoints
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenericRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
    get:
      summary: https://developer.mozilla.org/docs/Web/CSS/-ms-hyphenate-limit-chars
      operationId: get_https:__developer.mozilla.org_docs_Web_CSS_-ms-hyphenate-limit-chars
      tags:
        - Discovered Endpoints
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'

  https://developer.mozilla.org/docs/Web/CSS/-ms-hyphenate-limit-lines:
    post:
      summary: https://developer.mozilla.org/docs/Web/CSS/-ms-hyphenate-limit-lines
      operationId: https:__developer.mozilla.org_docs_Web_CSS_-ms-hyphenate-limit-lines
      tags:
        - Discovered Endpoints
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenericRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
    get:
      summary: https://developer.mozilla.org/docs/Web/CSS/-ms-hyphenate-limit-lines
      operationId: get_https:__developer.mozilla.org_docs_Web_CSS_-ms-hyphenate-limit-lines
      tags:
        - Discovered Endpoints
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'

  https://developer.mozilla.org/docs/Web/CSS/-ms-hyphenate-limit-zone:
    post:
      summary: https://developer.mozilla.org/docs/Web/CSS/-ms-hyphenate-limit-zone
      operationId: https:__developer.mozilla.org_docs_Web_CSS_-ms-hyphenate-limit-zone
      tags:
        - Discovered Endpoints
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenericRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
    get:
      summary: https://developer.mozilla.org/docs/Web/CSS/-ms-hyphenate-limit-zone
      operationId: get_https:__developer.mozilla.org_docs_Web_CSS_-ms-hyphenate-limit-zone
      tags:
        - Discovered Endpoints
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'

  https://developer.mozilla.org/docs/Web/CSS/-ms-ime-align:
    post:
      summary: https://developer.mozilla.org/docs/Web/CSS/-ms-ime-align
      operationId: https:__developer.mozilla.org_docs_Web_CSS_-ms-ime-align
      tags:
        - Discovered Endpoints
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenericRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
    get:
      summary: https://developer.mozilla.org/docs/Web/CSS/-ms-ime-align
      operationId: get_https:__developer.mozilla.org_docs_Web_CSS_-ms-ime-align
      tags:
        - Discovered Endpoints
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'

  https://developer.mozilla.org/docs/Web/CSS/-ms-overflow-style:
    post:
      summary: https://developer.mozilla.org/docs/Web/CSS/-ms-overflow-style
      operationId: https:__developer.mozilla.org_docs_Web_CSS_-ms-overflow-style
      tags:
        - Discovered Endpoints
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenericRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
    get:
      summary: https://developer.mozilla.org/docs/Web/CSS/-ms-overflow-style
      operationId: get_https:__developer.mozilla.org_docs_Web_CSS_-ms-overflow-style
      tags:
        - Discovered Endpoints
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'

  https://developer.mozilla.org/docs/Web/CSS/-ms-scroll-chaining:
    post:
      summary: https://developer.mozilla.org/docs/Web/CSS/-ms-scroll-chaining
      operationId: https:__developer.mozilla.org_docs_Web_CSS_-ms-scroll-chaining
      tags:
        - Discovered Endpoints
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenericRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
    get:
      summary: https://developer.mozilla.org/docs/Web/CSS/-ms-scroll-chaining
      operationId: get_https:__developer.mozilla.org_docs_Web_CSS_-ms-scroll-chaining
      tags:
        - Discovered Endpoints
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'

  https://developer.mozilla.org/docs/Web/CSS/-ms-scroll-limit:
    post:
      summary: https://developer.mozilla.org/docs/Web/CSS/-ms-scroll-limit
      operationId: https:__developer.mozilla.org_docs_Web_CSS_-ms-scroll-limit
      tags:
        - Discovered Endpoints
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenericRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
    get:
      summary: https://developer.mozilla.org/docs/Web/CSS/-ms-scroll-limit
      operationId: get_https:__developer.mozilla.org_docs_Web_CSS_-ms-scroll-limit
      tags:
        - Discovered Endpoints
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'

  https://developer.mozilla.org/docs/Web/CSS/-ms-scroll-limit-x:
    post:
      summary: https://developer.mozilla.org/docs/Web/CSS/-ms-scroll-limit-x
      operationId: https:__developer.mozilla.org_docs_Web_CSS_-ms-scroll-limit-x
      tags:
        - Discovered Endpoints
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenericRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
    get:
      summary: https://developer.mozilla.org/docs/Web/CSS/-ms-scroll-limit-x
      operationId: get_https:__developer.mozilla.org_docs_Web_CSS_-ms-scroll-limit-x
      tags:
        - Discovered Endpoints
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'

  https://developer.mozilla.org/docs/Web/CSS/-ms-scroll-limit-y-max:
    post:
      summary: https://developer.mozilla.org/docs/Web/CSS/-ms-scroll-limit-y-max
      operationId: https:__developer.mozilla.org_docs_Web_CSS_-ms-scroll-limit-y-max
      tags:
        - Discovered Endpoints
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenericRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
    get:
      summary: https://developer.mozilla.org/docs/Web/CSS/-ms-scroll-limit-y-max
      operationId: get_https:__developer.mozilla.org_docs_Web_CSS_-ms-scroll-limit-y-max
      tags:
        - Discovered Endpoints
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'

  https://developer.mozilla.org/docs/Web/CSS/-ms-scroll-limit-y-min:
    post:
      summary: https://developer.mozilla.org/docs/Web/CSS/-ms-scroll-limit-y-min
      operationId: https:__developer.mozilla.org_docs_Web_CSS_-ms-scroll-limit-y-min
      tags:
        - Discovered Endpoints
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenericRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
    get:
      summary: https://developer.mozilla.org/docs/Web/CSS/-ms-scroll-limit-y-min
      operationId: get_https:__developer.mozilla.org_docs_Web_CSS_-ms-scroll-limit-y-min
      tags:
        - Discovered Endpoints
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'

  https://developer.mozilla.org/docs/Web/CSS/-ms-scroll-rails:
    post:
      summary: https://developer.mozilla.org/docs/Web/CSS/-ms-scroll-rails
      operationId: https:__developer.mozilla.org_docs_Web_CSS_-ms-scroll-rails
      tags:
        - Discovered Endpoints
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenericRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
    get:
      summary: https://developer.mozilla.org/docs/Web/CSS/-ms-scroll-rails
      operationId: get_https:__developer.mozilla.org_docs_Web_CSS_-ms-scroll-rails
      tags:
        - Discovered Endpoints
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'

  https://developer.mozilla.org/docs/Web/CSS/-ms-scroll-snap-points-x:
    post:
      summary: https://developer.mozilla.org/docs/Web/CSS/-ms-scroll-snap-points-x
      operationId: https:__developer.mozilla.org_docs_Web_CSS_-ms-scroll-snap-points-x
      tags:
        - Discovered Endpoints
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenericRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
    get:
      summary: https://developer.mozilla.org/docs/Web/CSS/-ms-scroll-snap-points-x
      operationId: get_https:__developer.mozilla.org_docs_Web_CSS_-ms-scroll-snap-points-x
      tags:
        - Discovered Endpoints
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'

  https://developer.mozilla.org/docs/Web/CSS/-ms-scroll-snap-points-y:
    post:
      summary: https://developer.mozilla.org/docs/Web/CSS/-ms-scroll-snap-points-y
      operationId: https:__developer.mozilla.org_docs_Web_CSS_-ms-scroll-snap-points-y
      tags:
        - Discovered Endpoints
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenericRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
    get:
      summary: https://developer.mozilla.org/docs/Web/CSS/-ms-scroll-snap-points-y
      operationId: get_https:__developer.mozilla.org_docs_Web_CSS_-ms-scroll-snap-points-y
      tags:
        - Discovered Endpoints
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'

  https://developer.mozilla.org/docs/Web/CSS/-ms-scroll-snap-type:
    post:
      summary: https://developer.mozilla.org/docs/Web/CSS/-ms-scroll-snap-type
      operationId: https:__developer.mozilla.org_docs_Web_CSS_-ms-scroll-snap-type
      tags:
        - Discovered Endpoints
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenericRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
    get:
      summary: https://developer.mozilla.org/docs/Web/CSS/-ms-scroll-snap-type
      operationId: get_https:__developer.mozilla.org_docs_Web_CSS_-ms-scroll-snap-type
      tags:
        - Discovered Endpoints
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'

  https://developer.mozilla.org/docs/Web/CSS/-ms-scroll-snap-x:
    post:
      summary: https://developer.mozilla.org/docs/Web/CSS/-ms-scroll-snap-x
      operationId: https:__developer.mozilla.org_docs_Web_CSS_-ms-scroll-snap-x
      tags:
        - Discovered Endpoints
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenericRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
    get:
      summary: https://developer.mozilla.org/docs/Web/CSS/-ms-scroll-snap-x
      operationId: get_https:__developer.mozilla.org_docs_Web_CSS_-ms-scroll-snap-x
      tags:
        - Discovered Endpoints
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'

  https://developer.mozilla.org/docs/Web/CSS/-ms-scroll-snap-y:
    post:
      summary: https://developer.mozilla.org/docs/Web/CSS/-ms-scroll-snap-y
      operationId: https:__developer.mozilla.org_docs_Web_CSS_-ms-scroll-snap-y
      tags:
        - Discovered Endpoints
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenericRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
    get:
      summary: https://developer.mozilla.org/docs/Web/CSS/-ms-scroll-snap-y
      operationId: get_https:__developer.mozilla.org_docs_Web_CSS_-ms-scroll-snap-y
      tags:
        - Discovered Endpoints
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'

  https://developer.mozilla.org/docs/Web/CSS/-ms-scroll-translation:
    post:
      summary: https://developer.mozilla.org/docs/Web/CSS/-ms-scroll-translation
      operationId: https:__developer.mozilla.org_docs_Web_CSS_-ms-scroll-translation
      tags:
        - Discovered Endpoints
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenericRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
    get:
      summary: https://developer.mozilla.org/docs/Web/CSS/-ms-scroll-translation
      operationId: get_https:__developer.mozilla.org_docs_Web_CSS_-ms-scroll-translation
      tags:
        - Discovered Endpoints
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'

  https://developer.mozilla.org/docs/Web/CSS/-ms-scrollbar-3dlight-color:
    post:
      summary: https://developer.mozilla.org/docs/Web/CSS/-ms-scrollbar-3dlight-color
      operationId: https:__developer.mozilla.org_docs_Web_CSS_-ms-scrollbar-3dlight-color
      tags:
        - Discovered Endpoints
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenericRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
    get:
      summary: https://developer.mozilla.org/docs/Web/CSS/-ms-scrollbar-3dlight-color
      operationId: get_https:__developer.mozilla.org_docs_Web_CSS_-ms-scrollbar-3dlight-color
      tags:
        - Discovered Endpoints
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'

  https://developer.mozilla.org/docs/Web/CSS/-ms-scrollbar-arrow-color:
    post:
      summary: https://developer.mozilla.org/docs/Web/CSS/-ms-scrollbar-arrow-color
      operationId: https:__developer.mozilla.org_docs_Web_CSS_-ms-scrollbar-arrow-color
      tags:
        - Discovered Endpoints
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenericRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
    get:
      summary: https://developer.mozilla.org/docs/Web/CSS/-ms-scrollbar-arrow-color
      operationId: get_https:__developer.mozilla.org_docs_Web_CSS_-ms-scrollbar-arrow-color
      tags:
        - Discovered Endpoints
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'

  https://developer.mozilla.org/docs/Web/CSS/-ms-scrollbar-base-color:
    post:
      summary: https://developer.mozilla.org/docs/Web/CSS/-ms-scrollbar-base-color
      operationId: https:__developer.mozilla.org_docs_Web_CSS_-ms-scrollbar-base-color
      tags:
        - Discovered Endpoints
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenericRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
    get:
[...]
